<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance</title>
</head>
<body>
    <h1>Maintenance Schedule</h1>
    <section>
        <% items.forEach(elem => { %>
            <div data-id="<%elem._id%>">
                <h3><%=elem.serviceType %></h3>
                <h4><%=elem.datePerformed %></h4>
                <p><%=elem.location %></p>
                <p><%=elem.nextDate %></p>
                <h4><%=elem.status %></h4>
            </div>

        <% }) %>
    </section>
</body>
</html>